<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<h1>Hogwarts Houses - Codecool_ibardos</h1>


@RenderBody()

</body>
</html>