<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body class="d-flex align-items-center">
<h1>Hogwarts House</h1>
<h3>A project, which was originally so incomplete, that there are no words for it</h3>

@RenderBody()

</body>
</html>