@{
    ViewBag.Title = "Welcome page";
    Layout = "_Layout";
}

<h4>Welcome to my Codecool project, named Hogwarts Houses!</h4>
<br/>

<div class="card center">
    <p>
        This is a kind of <em>reimagination</em> of the original Codecool project, where I put some own effort to further
        develop the structure and functionalities of the application. The project is mainly focusing on the development
        of <strong>RESTful web APIs</strong>, therefore it should be tested via HTTP requests. I recommend to
        <strong>use Postman</strong>, as it is a relatively easy-to-use tool to test web APIs.
    </p>

    <p>For testing web APIs, please use the links below to download Postman, and the predefined Collection of HTTP requests for it.</p>

    <p>To see more of my projects, you can check my GitHub account with the link at the footer.</p>

    <p>
        You can download Postman from <a href="https://www.postman.com/downloads/" target="_blank">here</a>.
        <br>
        To get the exported Collection of Postman HTTP requests, click <a asp-controller="Home" asp-action="PostmanJsonInfo" target="_blank">here</a>.
    </p>
</div>

<a class="button buttonBlue" asp-controller="Rooms" asp-action="Rooms" target="_blank">
    To see a Razor page about available rooms at Hogwarts, click on this button!
</a>

<footer class="footer">
    <span>Created by ibardos => <a href="https://github.com/ibardos">GitHub profile.</a></span>
</footer>