@{
    ViewBag.Title = "Welcome page";
    Layout = "_Layout";
}

<h4>Welcome to my Codecool project, named Hogwarts Houses!</h4>
<br/>

<div class="card center">
    <p>
        This is a kind of <em>reimagination</em> of the original Codecool project, where I put some own effort to further
        develop the structure and functionalities of the application. The project is mainly focusing on the development
        of <strong>RESTful web APIs</strong>, therefore it should be tested via HTTP requests. I recommend to
        <strong>use Postman</strong>, as it is a relatively easy-to-use tool to test web APIs.
    </p>
<footer class="footer">
    <span>Created by ibardos => <a href="https://github.com/ibardos">GitHub profile.</a></span>
</footer>