@{
    ViewBag.Title = "Postman JSON import";
    Layout = "_Layout";
}
<div class="card center">
    <p>
        <strong>Use it this way:</strong>
    </p>
    <p>
        Click the button below, then copy the JSON code from the browser, and import the Collection of HTTP requests into
        Postman as <em>raw text</em>. With the help of the predefined collection, you can easily test the application's web
        APIs.
    </p>
</div>

<a class="button buttonBlue" asp-controller="Home" asp-action="PostmanJson" target="_blank">See JSON.</a>